@media screen and (max-width: 1024px) {
	
	* {
		text-align: center;
	}
	
	p {
		line-height: 40px;
	}

	.section_design_info, .section_design_decoration {
		width: 100%;
	}

	.section_design_decoration {
		display: none;
	}

	.section_design_info_wrapper {
	  margin: 93px auto;
	  max-width: 90%;
	}

	.section_features_wrapper {
		margin: 50px auto;
	}

	.section_features_content {
		justify-content: center;
	}

	.section_features_content .content_item {
		width: 80%;
		margin-bottom: 50px;
	}

	.section_responsive_design_wraper {
	  background: 
	    linear-gradient(45deg, rgba(251,134,134,.8) 0%, 
		rgba(251,134,134,.8) 14%, rgba(255,255,255,.8) 14%, 
		rgba(255,255,255,.8) 50%, rgba(255,255,255,.8) 100%);
	}

	.section_responsive_design_image {
		display: none;
	}

	.section_responsive_design_description {
		max-width: 80%;
		margin: 120px auto;
	}
	
	.section_clients_info {
		justify-content: center;
	}

	.section_clients_info .client_content {
		width: 80%;
		margin-bottom: 80px;
	}

	.browser_wraper {
		margin: 108px auto 40px;
		max-width: 85%;
	}

	.data_input {
		width: 100%;
		margin-bottom: 50px;
	}
	
	.data_input input, .data_input button {
		width: 50%;
	}

	.free_trial {
		width: 45%;
		margin: 0 auto 30px;
    align-items: center;
	}

	.section_data .free_trial p {
		font-size: 20px;
	}

	.section_data .free_trial img {
		width: 20%;
	}

	.section_data .data_input:last-child {
		margin-right: auto;
		width: 100%;
	}

	.footer {
		background: 
				linear-gradient(45deg, rgba(255,255,255,.8) 0%, 
		rgba(255,255,255,.8) 88%, rgba(251,134,134,.8) 88%, 
		rgba(251,134,134,.8) 100%);
	}

	.footer_wrapper {
		margin: 70px auto 10px;
	}
	
	.footer_item_top {
		justify-content: center;
  }

	.content_footer {
		justify-content: center;
	}

	.footer_item, .footer_item2 {
		width: 40%;
		margin-bottom: 90px;
	}

	.content_footer h3 img {
		width: 10%;
	}

	.content_footer .footer_input img, .footer_item_image2 img {
		width: 50%;
	}
}

@media screen and (max-width: 479px) {
	h1 {
		font-size: 40px;
  }

	h3 {
		font-size: 30px;
	}

	.header-wrapper {
		margin: 40px auto;
		width: 90%;
	}

	.header_additional_info {
		font-size: 20px;
	}

  .button_play {
		width: 80px;
		height: 80px;
	}  
  
  .button_play_triangle {
		border-width: 15px 0 15px 30px;
	}

	.button_text {
		font-size: 15px;
  }

  .data_input input, .data_input button {
		width: 90%;
  }
   
  .data_input input {
    font-size: 15px;
    text-align: left;
  }

  .content_footer {
	  display: block;
  }

  .section_title_name {
    font-size: 24px;
  }

	.section_features_content .content_item {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.client_content:last-child {
		margin-bottom: 0px;
	}  

	.partners_content img {
		width: 15%;
	}

	.browser_image {
		display: none;
	}

	.footer_item, .footer_item2 {
		width: 90%;
		margin: 0 auto 20px;
	}

	.footer_wrapper p, li {
		font-size: 18px;
	}

	.footer_item_icon {
		font-size: 24px;
		color: #cbcbcb;
		text-align: center;
		margin-top: 20px;
	}
}